// スライダー
// https://design-levelup.com/webdesign/html-css/making-13/

.p-caseStudy {
  padding: 47px 24px 0 24px;
  &__inner {
    margin-top: 16px;
    display: grid;
    row-gap: 32px;
  }
  &__slider {
    display: flex;
    width: 100vw;
    overflow: hidden;
    // height: 60px;
    img {
      width: auto;
      &:first-child {
        animation: slide1 60s -30s linear infinite;
      }
      &:last-child {
        animation: slide2 60s linear infinite;
      }
    }
    &.--h70 {
      height: 70px;
    }
    &.--h50 {
      height: 50px;
    }
  }
}

@keyframes slide1 {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}
