@use "sass:math";
@use 'global' as *;
//Robotoの読み込み
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");

.p-hero {
  display: grid;
  margin-top: 27px;
  padding: 0 24px;
  //背景
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background-color: #bfeeff;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 354px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
  }
  &__subTitle {
    padding: 23px 0 12px 0;
    font-family: "Roboto", sans-serif;
    font-size: rem(20px);
    letter-spacing: 0.08em;
    color: $color-blue;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 3px;
      width: 110px;
      bottom: 0;
      left: 0;
      background-color: $color-blue;
    }
  }
  &__title {
    font-size: rem(52px);
    // line-height: math.div(71, 52);
    line-height: calc(71 / 52);
  }
  &__lead {
    color: $color-blue;
    font-size: rem(15px);
    letter-spacing: 0.08em;
  }
  &__img {
    border-radius: 8px;
    box-shadow: 4px 3px 16px rgba($color: #000000, $alpha: 0.16);
  }
}
