@use 'global' as *;
.p-jobOffer {
  &__inner {
    margin-top: 22px;
    margin-bottom: 22px;
  }
  padding-top: 41px;
  &__card {
    border-radius: 6px;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.1);
    border-top: 5px solid $color-blue;
    padding: 18px;
  }
  &__tags {
    display: flex;
    gap: 2px;
    font-weight: 600;
  }
  &__tag {
    font-size: rem(9px);
    padding: 5px 9px;
    line-height: 1;
    &.--new {
      color: $color-blue;
      border: 1px solid #003b6b;
    }
    &.--urgent {
      color: #fff;
      background-color: #dd237c;
    }
  }
  &__companyName {
    margin-top: 12px;
    color: #607b80;
    font-size: rem(12px);
    font-weight: 600;
  }
  &__title {
    margin: 17px 0 18px 0;
    color: #3a4a4d;
    font-size: rem(18px);
    font-weight: 600;
  }
  &__info {
    padding: 18px 0 36px 0;
    display: grid;
    row-gap: 12px;
    border-top: 1px dashed #cccccc;
    font-weight: 600;
    color: #3a4a4d;
  }
  &__text {
    display: flex;
    font-size: rem(13px);
    width: 100%;
    span {
      width: 20%;
    }
    p {
      width: 80%;
    }
  }
  &__buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button {
    padding: 10px 40px;
    border: 1px solid #c6cbcc;
    border-radius: 100px;
    color: #3a4a4d;
    position: relative;
    &::after {
      position: absolute;
      content: url(../img/jobOffer_arrow.svg);
      right: 16px;
    }
  }
}
