.swiper-slide {
  width: 276px !important;
}
.swiper-container {
  height: 450px;
}
.swiper-pagination-bullet {
  border-radius: inherit;
  margin: 0 10px !important;
  background: #f2f2f2 !important;
  opacity: 1 !important;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  background: #1562b2 !important;
  opacity: 1 !important;
}
