.p-jobOffer__inner
  .p-jobOffer__card
    .p-jobOffer__tags
      span.p-jobOffer__tag.--new 新着
      span.p-jobOffer__tag.--urgent 急募
    p.p-jobOffer__companyName 株式会社フォーラムエンジニアリング
    p.p-jobOffer__title 【つくば】人材提案営業○男女不問・未経験歓迎/個人ノルマなし/WEB面接
    .p-jobOffer__info
      .p-jobOffer__text.--income
        span 年収
        p 年齢、経験、能力を考慮して…
      .p-jobOffer__text.--location 
        span 勤務地
        p 茨城県
      .p-jobOffer__text.--occupation
        span 職種
        p ルートセールス、法人営業
    .p-jobOffer__buttonWrapper
      a(href="").p-jobOffer__button 求人情報を見る