extends /_include/_layout
append variables
  - var directory ='/'
  - var imgPath = "./assets/img/"
block css
  //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.css")
block js

block body
  main
